<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    <nav class="navbar">
      <h1>Dashboard</h1>
      <ul class="nav-list">
        <li><a routerLink="/login">Login</a></li><li>|</li>
        <!-- <li><a routerLink="/cycles">🚲</a></li> -->
        <li><a routerLink="/cycles">Models</a></li><li>|</li>
        <li><a routerLink="/cart">🛒</a></li><li>|</li>
        <li><a routerLink="/AddCyclesComponent">Add a cycle</a></li><li>|</li>
        <li><a routerLink="/rental-record">Rent Records</a></li><li>|</li>
        <li><a (click)="logout()">Logout</a></li>
        
      </ul>
    </nav>
  </header>

    <div class="card">
        <h1>Cycles</h1>
        <button (click)="toggleDataVisibility()">Show Cycles</button>
    
        <table *ngIf="showCycles">
          <thead>
            <tr>
              <th>Cycle ID</th>
              <th>Cycle Name</th>
              <th>Available</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cycles">
              <td>{{ item.cycleId }}</td>
              <td>{{ item.cycleName }}</td>
              <td>{{ item.stock-item.numBorrowed}}</td>
              <td>{{ item.price }} Rs</td>
              <td><button (click)="borrowCycle(item.cycleId)">Add to cart</button></td>
            </tr>
          </tbody>
        </table>
      </div>
</body>
</html>